<div class="logo"><a class="logo" href="../index.html">STEM4GIRLS</a></div>
<button id="open-navbar-btn">
  <img src="../assets/menu.svg" alt="Menu" />
</button>
<nav id="navbar">
  <ul>
    <li>
      <button id="close-navbar-btn">
        <img src="../assets/close.svg" alt="Close" />
      </button>
    </li>
    <li><a href="../index.html" class="nav-links">HOME</a></li>
    <li><a href="../roadmap.html" class="nav-links">ROADMAP</a></li>
    <li><a href="../schedule.html" class="nav-links">SCHEDULE</a></li>
    <li><a href="../about.html" class="nav-links">ABOUT</a></li>
    <li>
      <a
        href="https://github.com/YairLinHtet/ICT-STEM4GIRLS.git"
        target="_blank"
        class="nav-links github"
        >GitHub</a
      >
    </li>
  </ul>
</nav>
